block user
    p.row
        span.label
            label(for="email") Email
        span.control
            //input(type="email" style="margin-left: 25px;" placeholder="Enter Email" id="email" name="email" width="200px" required)
            input(type="email" style="margin-left: 25px;" placeholder="Enter Email" id="email" name="email" width="200px")
            
    p.row
        span.label
            label(for="password") Password
        span.control
            //input(type="password" placeholder="Enter password" minlength="5" required id="password" name="password" width="200px")
            input(type="password" placeholder="Enter password" id="password" name="password" width="200px")
            